.background{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75), 
    rgba(0,0,0,0.75)), url(/assets/images/background1.jpg);
    background-size: cover;
    background-position: center;
}

.content{
    width: 100%;
    position: absolute;
    top: 50%;
    text-align: center;
    color:#fff;

}
.content h1{
    font-size: 70px;
    margin-top: 10px;
}

.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
    font-size: large;
}

button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: white;
    color: #161515;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}



.background2{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75), 
    rgba(0,0,0,0.75)), url(/assets/images/landscape.jpg);
    background-size: cover;
    background-position: center;
}

.text{
    width: 100%;
    position: absolute;
    text-align: center;
    color:#fff;
    margin-top: 120px;

}

.text h1{
    font-size: 70px;
    margin-top: 70px;
}

.background3{
    width: 100%;
    height: 60vh;
    margin-top: 50px;
    background-image: linear-gradient(rgba(126, 121, 121, 0.404), 
    rgba(0,0,0,0.75)), url(/assets/images/keys.jpg);
    background-size: cover;
    background-position: center;
}

.content2{
    width: 100%;
    position: absolute;
    text-align: center;
    color:#fff;
    font-size: 20px;
    margin-top: 100px;
}